#coaching {
  .left {
    .text {
      text-align: center;
    }
    .image {
      @include respond(phone) {
        height: 20vh;
        margin: 40px 0;
      }  
    }
  }

  .right {
    background-color: $coact-green;
    @include respond(phone) {
      justify-content: flex-start;
      padding: 6% 15%;
      p {
        font-size: 1.6rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }  
  }
}
