#coaching {
  .left {
    .prompt {
      border-style: dotted;
      border-bottom: none;
      border-width: 1px;
      @include respond(phone) {
        border-left: none;
        border-right: none;
      }
    }
    .text {
      text-align: center;
    }
    .image {
      @include respond(tab-port) {
        height: 20vh;
        margin: 40px 0;
      }  
    }
  }

  .right {
    background-color: $coact-green;
    @include respond(tab-port) {
      padding: 70px 0;
      h3, p {
        padding: 0 13%;
      }
      .prompt {
        background-color: white;
        margin: 0 auto;
      }
    }
    @include respond(phone) {
      padding-top: 35px;
      p {
        font-size: 1.6rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }  
  }
}
