
#landing {
  #header {
    display: flex;
    margin: 0 100px;
    align-items: flex-end;
    .logo {
      flex-grow: 2;
      .company-name {
        font-family: 'Sen', sans-serif;
        font-size: 6.6rem;
        margin-bottom: 0;
    
        @include respond(tab-land) {
          font-size: 3rem;
        }
        @include respond(tab-port) {
          font-size: 4rem;
          text-align: center;
        }
        @include respond(phone) {
          line-height: 1.5;
        }
        @include respond(phone-xs) {
          font-size: 2.8rem;
        }
      }
      .tagline {
        font-weight: 700;
        @include respond(tab-land) {
          font-size: 1.3rem;
        }
          @include respond(tab-port) {
          text-align: center;
        }
      }
    }
    .nav-item {
      font-weight: 700;
      padding-left: 300px;
      @include respond(tab-land) {
        padding-left: 100px;
      }
    }
  }

  #images {
    .hikers__image {
      margin-left: 100px;
    }
    .jumbotron {
      background-color: white;
      max-width: 100%;
      padding: 0;
    }
    .tagline {
      font-family: 'Sen', sans-serif;
      font-size: 3.3rem;
      text-align: right;
      padding-right: 14%;
  
      @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(tab-port) {
        font-size: 3.6rem;
        text-align: center;
        padding-right: 0;
      }
      @include respond(phone) {
        font-size: 2.5rem;
        line-height: 1.5;
      }
      @include respond(phone-xs) {
        font-size: 2.8rem;
      }
    }
    @include respond(phone) {
      padding: 0;
    }
  }

  #cta {
    .corner-card {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 20vh;
      width: 50vw;
      background-color: $coact-green;
      float: right;
      border-radius: 15px 0 0 0;
      @include respond(tab-port) {
        width: 100vw;
        height: 40vh;
      }  
      @include respond(phone) {
        width: 100vw;
        height: 20vh;
      }  
    }
    .cta-text {
      margin-left: 15%;
      margin-top: 5%;
      @include respond(tab-port) {
        text-align: center;
        margin-left: 0;
      }
    }
  }
}