#testimonials {
  .row {
    .left {
      justify-content: flex-end;
      padding-bottom: 7%;
    }
    .right {
      background-color: $coact-light-blue;
      .attribution {
        text-align: right;
      }
      .prompt {
        text-align: center;
        background-color: white;
        border-style: dotted;
        border-bottom: none;
        border-width: 1px;
      }
    }
  }
}
