html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 0;

  .page {
    height: 100vh;
    padding: 0;

    .row {
      height: 100vh;
      align-items: center;
    }
  }


  .skew {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    &:hover, &:focus, &:active {
      -webkit-transform: skew(-10deg);
      transform: skew(-10deg);
    }
  }
}


*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; }
