html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 0;

  .page {
    height: 100vh;
  }

  .row {
    .left, .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      padding: 0 8%;
      @include respond(tab-land) {
        padding: 0 7%;
      }
    }
    .bottom {
      .prompt {
        display: none;;
      }
    }
    @include respond(tab-port) {
      display: block;
      .top {
        height: 30vh;
        max-width: 100%;
        .prompt {
          display: none;
        }
      }
      .bottom {
        display: block;
        height: 70vh;
        max-width: 100%;
        .prompt {
          display: block;
        }
      }
    }
  }

  .prompt {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    padding-top: 30px;
    padding-left: 90px;
    @include respond(tab-land) {
      padding-top: 35px;
      padding-left: 50px;
      h1 {
        font-size: 2.5rem;
      }
    }
    @include respond(tab-port) {
      width: 100vw;
      padding-top: 40px;
      padding-left: 0;
      .prompt-text {
        text-align: center;
      }
    }
    @include respond(phone) {
      padding-top: 30px;
      border-left: none;
      border-right: none;
    }
  }
  
  .text {
    padding: 30px 100px;
    @include respond(tab-port) {
      text-align: center;
      margin-left: 0;
    }
    
  }

  .skew {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    &:hover, &:focus, &:active {
      -webkit-transform: skew(-10deg);
      transform: skew(-10deg);
    }
  }

}

*, *:before, *:after { margin: 0; padding: 0; box-sizing: border-box; }
