/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url(/Users/wendydherin/Projects/coact/src/style/vendor/css/font-awesome.min.css);
.mb-8 {
  margin-bottom: 8rem !important;
}

.load-hidden {
  visibility: hidden;
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin: 0;
}

body .page {
  height: 100vh;
  padding: 0;
}

body .skew {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

body .skew:hover,
body .skew:focus,
body .skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 500;
  font-family: 'Sen', sans-serif;
  font-size: 3.2rem;
}

h3 {
  font-weight: 1000;
  font-size: 2rem;
}

p {
  padding: 10px 0;
}

p,
a {
  font-size: 1.8rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 4rem;
}

@media (max-width: 37.5em) {
  .section-title {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: #272341 !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 37.5em) {
  .text-color-main {
    background-image: none;
    -webkit-text-fill-color: #b6d3ad;
  }
}

.text-color-main:hover {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.8rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.cta-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  border-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  border-image-slice: 1;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .cta-btn--hero {
    background-image: none;
    border: 2px solid #b6d3ad;
    -webkit-text-fill-color: #b6d3ad;
  }
}

.cta-btn--hero::after {
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
}

@media (max-width: 37.5em) {
  .cta-btn--hero::after {
    background-image: none;
  }
}

.cta-btn--hero:hover {
  -webkit-text-fill-color: white;
  text-decoration: none;
}

@media (max-width: 37.5em) {
  .cta-btn--hero:hover {
    -webkit-text-fill-color: #b6d3ad;
  }
}

.cta-btn--hero:hover::after {
  width: 100%;
}

/* Resume Style */
.cta-btn--resume {
  color: white;
  border: 2px solid white;
}

.cta-btn--resume::after {
  background: white;
}

.cta-btn--resume:hover {
  color: #b6d3ad;
  text-decoration: none;
}

.cta-btn--resume:hover::after {
  width: 100%;
}

/* Arrow Button */
.up i {
  color: #272727;
}

#landing #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#landing #header .logo {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

#landing #header .logo .company-name {
  font-family: 'Sen', sans-serif;
  font-size: 6.6rem;
  margin-bottom: 0;
}

@media (max-width: 75em) {
  #landing #header .logo .company-name {
    font-size: 3rem;
  }
}

@media (max-width: 56.25em) {
  #landing #header .logo .company-name {
    font-size: 4rem;
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  #landing #header .logo .company-name {
    line-height: 1.5;
  }
}

@media (max-width: 20em) {
  #landing #header .logo .company-name {
    font-size: 2.8rem;
  }
}

#landing #header .logo .tagline {
  font-weight: 700;
}

@media (max-width: 75em) {
  #landing #header .logo .tagline {
    font-size: 1.3rem;
  }
}

@media (max-width: 56.25em) {
  #landing #header .logo .tagline {
    text-align: center;
  }
}

#landing #header .nav-item {
  font-weight: 700;
  padding-left: 300px;
}

@media (max-width: 75em) {
  #landing #header .nav-item {
    padding-left: 100px;
  }
}

#landing #images .hikers__image {
  margin-left: 100px;
}

#landing #images .jumbotron {
  background-color: white;
  max-width: 100%;
  padding: 0;
}

#landing #images .tagline {
  font-family: 'Sen', sans-serif;
  font-size: 3.3rem;
  text-align: right;
  padding-right: 14%;
}

@media (max-width: 75em) {
  #landing #images .tagline {
    font-size: 4rem;
  }
}

@media (max-width: 56.25em) {
  #landing #images .tagline {
    font-size: 3.6rem;
    text-align: center;
    padding-right: 0;
  }
}

@media (max-width: 37.5em) {
  #landing #images .tagline {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 20em) {
  #landing #images .tagline {
    font-size: 2.8rem;
  }
}

@media (max-width: 37.5em) {
  #landing #images {
    padding: 0;
  }
}

#landing #cta .corner-card {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vh;
  width: 50vw;
  background-color: #e7f5de;
  float: right;
  border-radius: 15px 0 0 0;
}

@media (max-width: 56.25em) {
  #landing #cta .corner-card {
    width: 100vw;
    height: 40vh;
  }
}

@media (max-width: 37.5em) {
  #landing #cta .corner-card {
    width: 100vw;
    height: 20vh;
  }
}

#landing #cta .cta-text {
  margin-left: 15%;
  margin-top: 5%;
}

@media (max-width: 56.25em) {
  #landing #cta .cta-text {
    text-align: center;
    margin-left: 0;
  }
}

#about {
  background-color: #aecaa5;
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  color: white;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

@media (max-width: 75em) {
  #about {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }
}

@media (max-width: 37.5em) {
  #about .about-wrapper {
    padding-bottom: 5rem;
  }
}

#about .about-wrapper__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 56.25em) {
  #about .about-wrapper__image {
    padding-bottom: 6.4rem;
  }
}

@media (max-width: 75em) {
  #about .about-wrapper__image {
    height: 100%;
  }
}

#about .about-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 37.5em) {
  #about .about-wrapper__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#about .about-wrapper__info-text {
  text-align: left;
}

@media (max-width: 56.25em) {
  #about .about-wrapper__info-text {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  #about .about-wrapper__info-text {
    font-size: 1.6rem;
    text-align: center;
  }
}

#about .about-wrapper__info-text--important {
  background: #b3d1aa;
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}

@media (max-width: 37.5em) {
  #about .about-wrapper__info-text--important {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    font-style: normal;
  }
}

#coaching .row {
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 37.5em) {
  #coaching .coaching-left .image {
    height: 20vh;
    margin: 40px 0;
  }
}

#coaching .coaching-right {
  background-color: #e7f5de;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 37.5em) {
  #coaching .coaching-right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 6% 15%;
  }
  #coaching .coaching-right p {
    font-size: 1.6rem;
  }
  #coaching .coaching-right h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  #coaching .coaching-wrapper {
    padding-bottom: 5rem;
  }
}

#coaching .coaching-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 37.5em) {
  #coaching .coaching-wrapper__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#coaching .coaching-wrapper__info-text {
  text-align: left;
}

@media (max-width: 56.25em) {
  #coaching .coaching-wrapper__info-text {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  #coaching .coaching-wrapper__info-text {
    font-size: 1.6rem;
    text-align: center;
  }
}

#coaching .coaching-wrapper__info-text--important {
  background: #b3d1aa;
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}

@media (max-width: 37.5em) {
  #coaching .coaching-wrapper__info-text--important {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    font-style: normal;
  }
}

#testimonials {
  background-color: #aecaa5;
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  color: white;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

@media (max-width: 75em) {
  #testimonials {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }
}

@media (max-width: 37.5em) {
  #testimonials .testimonials-wrapper {
    padding-bottom: 5rem;
  }
}

#testimonials .testimonials-wrapper__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 56.25em) {
  #testimonials .testimonials-wrapper__image {
    padding-bottom: 6.4rem;
  }
}

@media (max-width: 75em) {
  #testimonials .testimonials-wrapper__image {
    height: 100%;
  }
}

#testimonials .testimonials-wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 37.5em) {
  #testimonials .testimonials-wrapper__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#testimonials .testimonials-wrapper__info-text {
  text-align: left;
}

@media (max-width: 56.25em) {
  #testimonials .testimonials-wrapper__info-text {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 37.5em) {
  #testimonials .testimonials-wrapper__info-text {
    font-size: 1.6rem;
    text-align: center;
  }
}

#testimonials .testimonials-wrapper__info-text--important {
  background: #b3d1aa;
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}

@media (max-width: 37.5em) {
  #testimonials .testimonials-wrapper__info-text--important {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    font-style: normal;
  }
}

#contact {
  background-image: linear-gradient(135deg, #aecaa5 0%, #b6d3ad 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: white;
}

@media (max-width: 75em) {
  #contact {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
}

#contact .contact-wrapper {
  margin-top: 3.2rem;
  padding: 0 2rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#contact .contact-wrapper__text {
  margin-bottom: 2.5rem;
}

#contact .contact-wrapper__text,
#contact .contact-wrapper a {
  font-size: 2.4rem;
}

@media (max-width: 37.5em) {
  #contact .contact-wrapper__text,
  #contact .contact-wrapper a {
    font-size: 2rem;
  }
}

.footer {
  background-color: white;
  color: black;
  padding: 4.8rem 0;
}

@media (max-width: 37.5em) {
  .footer {
    border: 0px;
  }
}

.footer__text {
  color: black;
  font-size: 1.3rem;
}

.footer__text a {
  color: black;
  font-size: 1.3rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  background-color: white;
}

.footer__text a:hover,
.footer__text a:active {
  color: #aecaa5;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.back-to-top i {
  color: black;
  margin: 1rem 0 1.8rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.back-to-top i:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
/*# sourceMappingURL=main.css.map */
